@model Lanche;

<h1>Criar Lanche</h1>
<hr>

<Form asp-action="Create" asp-controller="Lanche" method="post">
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input class="form-control" name="Nome">
    </div>
    <br>

    <select class="form-select" name="lanche" asp-items='(SelectList) ViewData["listaDeCategorias"]'>
        <option value="">Escolha uma Categoria</option>
    </select>
    <br>

    <div class="mb-3">
        <label class="form-label">Descrição Curta:</label>
        <input class="form-control"descricaoCurta">
    </div>
    <br>

    <div>
        <label class="form-label">Descricao Detalhada:</label>
        <input class="form-control"descricaoDetalhada">
    </div>
    <br>

    <div class="mb-3">
        <label class="form-label">Preço:</label>
        <input type="number" name="Preco">
    </div>
    <br>

    <div class="mb-3">
        <label class="form-label">Imagem:</label>
        <input type="text" name="ImagemUrl">
    </div>
    <br>

    <div class="mb-3">
        <label class="form-label">Imagem da Thumbnail:</label>
        <input type="text" name="ImagemThumbnailUrl">
    </div>
    <br>

    <div class="mb-3">
        <label class="form-label">Lanche Preferido:</label>
        <input type="checkbox" name="IsLanchePreferido">
    </div>
    <br>

    <div class="mb-3">
        <label class="form-label">Em Estoque:</label>
        <input type="checkbox" name="EmEstoque">
    </div>
    <br>

    <button type="submit"class="btn btn-success">Criar Lanche</button>

</Form>
