<h1>Criar Lanche</h1>
<hr>

<Form asp-action="Create" asp-controller="Lanche" method="post">
    <div class="mb-3">
        <label class="form-label">Nome:</label>
        <input class="form-control" name="Nome">
    </div>

    <select class="form-select" name="lanche" asp-items='(SelectList) ViewData["listaDeCategorias"]'>
        <option value="">Escolha um lanche</option>
    </select>

    <span>Descricao Curta:</span>
    <input type="text" name="descricaoCurta">

    <span>Descricao Detalhada:</span>
    <input type="text" name="descricaoDetalhada">

    <span>Preco:</span>
    <input type="number" name="preco">

    <span>Imagem:</span>
    <input type="text" name="imagemUrl">

    <span>Imagem da Thumbnail:</span>
    <input type="text" name="imagemThumbnailUrl ">

    <span>Lanche Preferido:</span>
    <input type="checkbox" name="isLanchePreferido">

    <span>Em Estoque:</span>
    <input type="checkbox" name="emEstoque">

    <button type="submit">Criar Lanche</button>

</Form>
