@model List<Lanche>

<div>
    <h2>Todos Lanches</h2>
</div>


@foreach (var lanche in Model)
{
    <div>
        <br>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl" height="200" width="200"></p>
        <h3>Preço: @lanche.Preco.ToString("c")</h3>
    </div>
}

