<h1>Criar Categoria</h1>

<Form asp-action="Create" asp-controller="Categoria" method="post">
    <span>Nome:</span>
    <input type="text" name="categoriaNome">
    
    <span>descricao:</span>
    <input type="text" name ="descricao">

    <button type="submit">Criar Categoria</button>
    
</Form>