@model List<Categoria>

<h1>Categorias</h1>
<a asp-action="Create" class="btn btn-success">Criar Categoria</a>
<hr>

<ol class="list-group">
    @foreach (var cat in Model)
    {
        <li class="list-group-item">
            @cat.CategoriaNome
        </li>
    }

</ol>
